<ul class="movie-cards">
    {{#each this}}
    <li>
        <img src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" alt="filmImg">
        <h2>{{title}}</h2>
        <p>{{release_date}}</p>

    </li>
    {{/each}}
</ul>