<h2 class="similarTitle">Similar movies</h2>
<div class="similarMovies" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
    {{#each this}}

    <div class="slider-item">
        <a href="#id={{id}}" onclick="location.replace('#id={{id}}');location.reload();">
            <img src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" alt="" />
            <h2>{{title}}</h2>
            {{!-- <p>2020</p> --}}
        </a>
    </div>

    {{/each}}

</div>